* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.user-list {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

.user-list h1 {
  color: #61dafb;
}

.user-item {
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

.user-item a {
  color: #61dafb;
  text-decoration: none;
}

.user-item a:hover {
  text-decoration: underline;
}

p {
  margin: 5px 0;
}

ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #61dafb;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}